# Domain configuration file in TOML format.
version = "1.0"
region = "{{.Region}}"
account_id = "{{.AccountID}}"

access_key = "{{.AccessKey}}"
secret_key = "{{.SecretKey}}"

[daemon]
host = "0.0.0.0:4432"
tlskey = "config/server.key"
tlscert = "config/server.pem"

[awsgw]
host = "0.0.0.0:9999"
tlskey = "config/server.key"
tlscert = "config/server.pem"
debug = true
config = "awsgw/awsgw.toml"

[nats]
host = "0.0.0.0:4222"

[nats.acl]
token = "{{.NatsToken}}"

[nats.sub]

[predastore]
host = "0.0.0.0:8443"
region = "{{.Region}}"
bucket = "predastore"
access_key = "{{.AccessKey}}"
secret_key = "{{.SecretKey}}"