# Domain configuration file in TOML format.
version = "1.0"
epoch = 1
node = "{{.Node}}"

[nodes.{{.Node}}]
node = "{{.Node}}"
region = "{{.Region}}"
az = "{{.Az}}"

account_id = "{{.AccountID}}"
access_key = "{{.AccessKey}}"
secret_key = "{{.SecretKey}}"

[nodes.{{.Node}}.daemon]
host = "0.0.0.0:{{.Port}}"
tlskey = "config/server.key"
tlscert = "config/server.pem"

[nodes.{{.Node}}.awsgw]
host = "0.0.0.0:9999"
tlskey = "config/server.key"
tlscert = "config/server.pem"
debug = true
config = "awsgw/awsgw.toml"

[nodes.{{.Node}}.nats]
host = "0.0.0.0:4222"

[nodes.{{.Node}}.nats.acl]
token = "{{.NatsToken}}"

[nodes.{{.Node}}.nats.sub]

[nodes.{{.Node}}.predastore]
host = "0.0.0.0:8443"
region = "{{.Region}}"
bucket = "predastore"
access_key = "{{.AccessKey}}"
secret_key = "{{.SecretKey}}"