# Domain configuration file in TOML format.
version = "1.0"
epoch = 1
node = "{{.Node}}"

[nodes.{{.Node}}]
node = "{{.Node}}"
host = "{{.BindIP}}"
region = "{{.Region}}"
az = "{{.Az}}"
{{- if .Services}}
services = [{{range $i, $s := .Services}}{{if $i}}, {{end}}"{{$s}}"{{end}}]
{{- end}}

account_id = "{{.AccountID}}"

[nodes.{{.Node}}.daemon]
host = "{{.BindIP}}:{{.Port}}"
tlskey = "config/server.key"
tlscert = "config/server.pem"
dev_networking = true

[nodes.{{.Node}}.awsgw]
host = "{{.BindIP}}:9999"
tlskey = "config/server.key"
tlscert = "config/server.pem"
debug = true
config = "awsgw/awsgw.toml"

[nodes.{{.Node}}.nats]
host = "{{.BindIP}}:4222"

[nodes.{{.Node}}.nats.acl]
token = "{{.NatsToken}}"

[nodes.{{.Node}}.nats.sub]

[nodes.{{.Node}}.viperblock]
shardwal = false

[nodes.{{.Node}}.vpcd]
ovn_nb_addr = "tcp:127.0.0.1:6641"
ovn_sb_addr = "tcp:127.0.0.1:6642"

[nodes.{{.Node}}.predastore]
host = "{{.BindIP}}:8443"
region = "{{.Region}}"
bucket = "predastore"
accesskey = "{{.AccessKey}}"
secretkey = "{{.SecretKey}}"
{{- if gt .PredastoreNodeID 0}}
node_id = {{.PredastoreNodeID}}
{{- end}}
{{- range .RemoteNodes}}

[nodes.{{.Name}}]
node = "{{.Name}}"
host = "{{.Host}}"
region = "{{.Region}}"
az = "{{.AZ}}"
{{- if .Services}}
services = [{{range $i, $s := .Services}}{{if $i}}, {{end}}"{{$s}}"{{end}}]
{{- end}}
{{- end}}