# Predastore S3-compatible storage configuration file in TOML format.
version = "1.0"
region = "{{.Region}}"

# Optionally configure port and host, or specify via daemon CLI options
host = "0.0.0.0"
port = 8443

# Enable verbose debugging
debug = false

# Optionally configure base-path if full directory path not defined for "fs" buckets
# base_path = "/home/predastore/data/"

[[buckets]]
name = "predastore"
region = "{{.Region}}"
type = "fs"
pathname = "data/predastore"
public = false
encryption = ""

[[auth]]
access_key_id = "{{.AccessKey}}"
secret_access_key = "{{.SecretKey}}"
policy = [
  { bucket = "predastore", actions = ["s3:ListBucket",  "s3:GetObject", "s3:PutObject", "s3:DeleteObject", "s3:ListAllMyBuckets"] },
]
