name: Build E2E Image

on:
  push:
    branches: [ main, e2e ]
    paths:
      - "tests/e2e/Dockerfile.e2e"
      - "Makefile"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-e2e

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: tests/e2e/Dockerfile.e2e
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
